{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<h1>Welcome</h1>

{% if app.user %}
    <p class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </p>

{% else %}

    <p>
        <a href="{{ path('app_register') }}">Register</a> or
        <a href="{{ path('app_login') }}">Log in</a>
    </br>
        <a href="{{ path('app_users') }}">User List</a>
    </p>

{% endif %}

{% endblock %}
